<!DOCTYPE html>
<html>
	<head>
		<h1>Rock Climber Information System</h1>
	</head>
	<body>
	    <li><a href="/view/people">View list of People</a></li>
		<li><a href="/view/shoes">View list of Shoes</a></li>
		<li><a href="/view/achievement">View list of Achievements</a></li>
		<li><a href="/view/coach">View list of Coaches</a></li>
		<li><a href="/view/ranking">View list of Rankings</a></li>
		<li><a href="/view/peopleshoes">View People relation with Shoes</a></li>
        <li><a href="/view/peopleachievement">View People relation with Achievements<a></li>
		<li><a href="/view/peopleranking">View People relation with Ranking</a></li>
		<li><a href="/view/peoplecoach">View People relation with Coaches</a></li>
		{{{body}}}
	</body>
</html>